<section>
    <div class="container">
        <div>
            <h1>Hvem er vi?</h1>
            <p>
                Vi har mere end <span class="highlight">10 års erfaring</span> med <span class="highlight">hjælp 
                og støtte</span> til pårørende med <span class="highlight">rusmiddelmisbrug 
                og afhængighed</span>. Vi hjælper dig som pårørende 
                men også hvis du har dit eget misbrugsproblem.
                Vi er et <span class="highlight">frivilligt hold</span> med <span class="highlight">erfarne og 
                professionelle mennesker</span>, som har ekspertiser 
                indenfor ethvert problem man som pårørende 
                eller misbrugere sidder med. 
            </p>
        </div>
        <div>
            <img src="/img/about.jpg" alt="Billede af teamet" />
        </div>
    </div>
</section>

<span class="highlight"></span>

<style>
    section {
        padding: 3rem;
        background: var(--green);
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    h1 {
        font-size: 4rem;
        color: var(--black);
    }

    p {
        font-size: 1rem;
        color: var(--black);
    }

    .highlight {
        color: var(--blue);
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
</style>