---
const { text, href } = Astro.props;
---

{href ? (
    <a href={href} class="button">{text}</a>
) : (
    <a class="button" role="button" tabindex="0">{text}</a>
)}

<style>
    .button {
        display: inline-block;
        text-decoration: none;
        padding: 0.8rem 1.3rem 1.1rem;
        background: var(--blue);
        color: var(--white);
        font-weight: 400;
        text-align: center;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s;
        max-width: 150px;
    }

    .button:hover {
        background: var(--bluehover);
    }
</style>