---
import Button from "../components/Button.astro";

const { title, description, button } = Astro.props;
---
<article>
    <h2>{title}</h2>
    <p>{description}</p>
    <Button text={button} />
</article>

<style>
    article {
        padding: 3rem;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 1rem;
        min-height: 400px;
    }

    h2 {
        color: var(--black);
    }

    p {
        color: var(--black);
    }
</style>