---
import "../styles/style.css"
import Cta from "../components/Cta.astro";


import cta2Icon from "../assets/cta2.svg";
---

<section>
    <div>
        <svg width="418" height="493" viewBox="0 0 418 493" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M140.931 206.437C91.183 340.67 -14.6332 468.145 38.7027 487.912C92.0387 507.679 169.108 416.559 218.856 282.326C268.604 148.092 272.192 21.5777 218.856 1.81086C165.52 -17.956 -193.67 192.639 140.931 206.437Z" fill="#3D5222"/>
        <path d="M300.668 208.69C250.92 342.923 145.104 470.399 198.439 490.166C251.775 509.932 328.845 418.812 378.593 284.579C428.341 150.346 431.929 23.8315 378.593 4.06467C325.257 -15.7021 -33.9336 194.892 300.668 208.69Z" fill="#497DB3"/>
        </svg>
    </div>
    <div>
        <h1>Er du ramt af en andens misbrug? Vi hjælper dig</h1>
        <p>Anonyme og fortrolige samtaler for pårørende <br>til misbrugere</p>
        <div class="cta-container">
            <Cta text="Samtaleforløb" icon="cta1icon" />
            <Cta text="Akutrådgivning" icon="cta2icon" />
            <Cta text="Gruppeforløb" icon="cta3icon" />
        </div>
    </div>
</section>

<style>
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 1rem;
    }

    h1 {
        font-size: 4rem;
        max-width: 500px;
    }

    .cta-container {
        display: flex;
        gap: 1rem;
    }

</style>