---
import pmpLogo from '../assets/pmpLogo.png';
---

<nav>
    <a href="/">
        <img src={pmpLogo.src} alt="Misbrugs Portalen Pårørende Netværket Logo">
    </a>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    img {
        width: 180px;
    }
</style>