<div>
    <a href="https://www.facebook.com"><svg width="25" height="43" viewBox="0 0 25 43" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M23 2H17.2727C14.7411 2 12.3132 3.02723 10.5231 4.85571C8.73295 6.68419 7.72727 9.16414 7.72727 11.75V17.6H2V25.4H7.72727V41H15.3636V25.4H21.0909L23 17.6H15.3636V11.75C15.3636 11.2328 15.5648 10.7368 15.9228 10.3711C16.2808 10.0054 16.7664 9.8 17.2727 9.8H23V2Z" stroke="#F3F3F3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</a>
    <a href="https://www.instagram.com"><svg width="41" height="43" viewBox="0 0 41 43" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M30.675 10.775H30.6935M11.25 2H29.75C34.8586 2 39 6.36522 39 11.75V31.25C39 36.6348 34.8586 41 29.75 41H11.25C6.14137 41 2 36.6348 2 31.25V11.75C2 6.36522 6.14137 2 11.25 2ZM27.9 20.2715C28.1283 21.8944 27.8653 23.5518 27.1485 25.0081C26.4316 26.4643 25.2973 27.6453 23.907 28.3829C22.5167 29.1205 20.9411 29.3772 19.4044 29.1166C17.8677 28.8559 16.4481 28.0912 15.3475 26.9311C14.2468 25.771 13.5213 24.2746 13.274 22.6548C13.0267 21.035 13.2703 19.3743 13.9701 17.9088C14.6699 16.4434 15.7902 15.2478 17.1718 14.4922C18.5534 13.7365 20.1258 13.4593 21.6655 13.7C23.236 13.9455 24.69 14.7169 25.8126 15.9002C26.9353 17.0835 27.6671 18.6161 27.9 20.2715Z" stroke="#F3F3F3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</a>
    <a href="https://www.linkedin.com"><svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M27.9 13.6842C30.8439 13.6842 33.6672 14.9152 35.7489 17.1064C37.8305 19.2977 39 22.2696 39 25.3684V39H31.6V25.3684C31.6 24.3355 31.2102 23.3448 30.5163 22.6144C29.8224 21.884 28.8813 21.4737 27.9 21.4737C26.9187 21.4737 25.9776 21.884 25.2837 22.6144C24.5898 23.3448 24.2 24.3355 24.2 25.3684V39H16.8V25.3684C16.8 22.2696 17.9695 19.2977 20.0511 17.1064C22.1328 14.9152 24.9561 13.6842 27.9 13.6842Z" stroke="#F3F3F3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.4 15.6316H2V39H9.4V15.6316Z" stroke="#F3F3F3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M5.7 9.78947C7.74345 9.78947 9.4 8.04574 9.4 5.89474C9.4 3.74373 7.74345 2 5.7 2C3.65655 2 2 3.74373 2 5.89474C2 8.04574 3.65655 9.78947 5.7 9.78947Z" stroke="#F3F3F3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</a>
    <a href="https://www.youtube.com"><svg width="45" height="34" viewBox="0 0 45 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M42.1417 6.69599C41.9203 5.77505 41.4695 4.93125 40.8347 4.24982C40.1999 3.56838 39.4037 3.07345 38.5264 2.81501C35.3212 2 22.5 2 22.5 2C22.5 2 9.67885 2 6.47356 2.89263C5.59629 3.15107 4.80006 3.646 4.16528 4.32744C3.5305 5.00887 3.07966 5.85267 2.85829 6.77361C2.27168 10.1608 1.98473 13.597 2.00107 17.0388C1.98016 20.5066 2.26712 23.9689 2.85829 27.3816C3.10234 28.274 3.56328 29.0857 4.19658 29.7383C4.82988 30.391 5.61413 30.8625 6.47356 31.1074C9.67885 32 22.5 32 22.5 32C22.5 32 35.3212 32 38.5264 31.1074C39.4037 30.8489 40.1999 30.354 40.8347 29.6726C41.4695 28.9911 41.9203 28.1473 42.1417 27.2264C42.7238 23.8647 43.0107 20.4547 42.9989 17.0388C43.0198 13.5711 42.7329 10.1087 42.1417 6.69599Z" stroke="#F3F3F3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M18.307 23.3842L29.0224 17.0388L18.307 10.6934V23.3842Z" stroke="#F3F3F3" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</a>
</div>

<style>
    div {
        background-color: var(--darkblue);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 2rem;
        min-height: 100%;
    }
    a { 
        color: var(--blue);
        padding: 1rem;
        display: grid;
        place-items: center;
        transition: all 0.3s;
    }

    a:hover svg path {
        stroke: var(--lightblue);
        transition: all 0.3s;
    }
</style>