<section>
    <div class="testimonials">
        <div class="testimonial">
            <p>
                “Det har betydet meget at få forståelse, støtte og opbakning samt råd fra så dygtige folk (...) “
            </p>
            <div class="stars">
            ★★★★☆
            </div>
        </div>
        <div class="testimonial">
            <p>
                “Det har betydet meget at få forståelse, støtte og opbakning samt råd fra så dygtige folk (...) “
            </p>
            <div class="stars">
            ★★★★☆
            </div>
        </div>
        <div class="testimonial">
            <p>
                “Det har betydet meget at få forståelse, støtte og opbakning samt råd fra så dygtige folk (...) “
            </p>
            <div class="stars">
            ★★★★☆
            </div>
        </div>
    </div>
</section>

<style>
    section {
        margin-top: 50px;
        padding: 2rem;
        background-color: var(--blue);
        min-height: 300px;
    }

    p {
        font-size: 1.3rem;
        color: var(--white);
        text-align: center;
    }

    .testimonials {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        max-width: 90svw;
        margin-inline: auto;
    }

    .testimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        max-width: 350px;
    }

    .stars {
    color: var(--lightblue); /* Use the lightblue variable */
    font-size: 1.5rem; /* Adjust size as needed */
    margin-top: 0.5rem;
}
</style>