<!doctype html>
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Pårørende Netværket</title>

		<link rel="stylesheet" href="https://use.typekit.net/yxb7xuh.css">
	</head>
	<body>
		<slot />
		
	</body>
</html>

<style>
	html,
	body {
  	scroll-behavior: smooth;
  	background: #fffaf4;
}
</style>
